target/classes/soa_consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://www.thomas-bayer.com/axis2/services/BLZService?wsdl" service="BLZService" port="BLZServiceSOAP11port_http" serviceAddress="http://www.thomas-bayer.com/axis2/services/BLZService" doc:name="Web Service Consumer"/>
    <http:listener-config name="HTTP_Listener_3081" host="0.0.0.0" port="3081" doc:name="HTTP Listener Configuration"/>
    <flow name="currencyConvertor">
        <http:listener config-ref="HTTP_Listener_3081" path="/currencyConvertor" doc:name="HTTP"/>
        <logger message="#[&quot;\nLOGGER 01 : &quot;+payload]" level="DEBUG" doc:name="Logger"/>
        <component class="com.currency.convertor.client.WSConsumerCurrencyConvertor" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[&quot;\nLOGGER 02 : &quot;+payload]" level="DEBUG" doc:name="Logger"/>
    </flow>
    <flow name="tempConvertor">
        <http:listener config-ref="HTTP_Listener_3081" path="/tempConvertor" doc:name="HTTP"/>
        <logger message="#[&quot;\nLOGGER 01 : &quot;+payload]" level="DEBUG" doc:name="Logger"/>
        <component class="com.temp.convertor.client.WSConsumerTempConvertor" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[&quot;\nLOGGER 02 : &quot;+payload]" level="DEBUG" doc:name="Logger"/>
    </flow>
    <flow name="bankFinder">
        <http:listener config-ref="HTTP_Listener_3081" path="/bankFinder" doc:name="HTTP"/>
        <logger message="#[&quot;\nLOGGER 01 : &quot;+payload]" level="INFO" doc:name="Logger"/>
        <component class="com.banks.client.WSConsumerBankFinder" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[&quot;\nLOGGER 02 : &quot;+payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="helloName">
        <http:listener config-ref="HTTP_Listener_3081" path="/helloName" doc:name="HTTP"/>
        <logger message="#[&quot;\nLOGGER 01 : &quot;+payload]" level="DEBUG" doc:name="Logger"/>
        <component class="com.hello.name.client.WSConsumerHelloName" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[&quot;\nLOGGER 02 : &quot;+payload]" level="DEBUG" doc:name="Logger"/>
    </flow>
    
    
    
</mule>
